In [6]:
import sqlite3
import pandas as pd
import re

In [19]:
def quick_sort_with_str(arr):
    l = len(arr)
    lo = []
    hi = []

    if l <= 1:
        return arr
    else:
        pivot_int = int(re.search('[0-9]+', arr[l-1]).group())
        pivot_str = arr.pop(l-1)

        table_int = [int(re.search('[0-9]+', din).group()) for din in arr]
        table_str = arr

        for i, item in enumerate(table_int):

            if item < pivot_int:
                lo.append(table_str[i])
            else:
                hi.append(table_str[i])

            
        return quick_sort_with_str(lo) + [pivot_str] + quick_sort_with_str(hi)

In [20]:
import pytest
import sqlite3
from src.moduls.Sqlite import Sqlite

try:
    with Sqlite() as sql:
        sql.query("""
                SELECT DISTINCT waga_Norma
                FROM waga""")

        print(quick_sort_with_str(sql._query_to_list()))
except Exception as e:
    print(e)

sqlite.db - connect
['DIN84', 'DIN94', 'DIN125', 'DIN127', 'DIN439', 'DIN440', 'DIN603', 'DIN605', 'DIN608', 'DIN835', 'DIN912', 'DIN913', 'DIN931', 'DIN933', 'DIN934', 'DIN935', 'DIN938', 'DIN939', 'DIN963', 'DIN965', 'DIN985', 'DIN1440', 'DIN1587', 'DIN6330', 'DIN6923(moneta)', 'DIN6923', 'DIN7980', 'DIN7985', 'DIN7991', 'DIN9021', 'PN82406']
sqlite.db cursor close
sqlite.db connection close